<!DOCTYPE html>
<head>
    <meta charset=utf-8>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Optical Constants</span>
        </div>
    </nav>
</header>
<main class="container-fluid">
    <div class="row ">
        <div class="col-sm-3 mx-auto">
            <form class="mb-3" action="/calculate" method="post" >
                <div class="row">
                    <label for="inputLambda" class="col-sm-3 col-form-label">lambda</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="lambda" id="inputLambda">
                    </div>
                </div>
                <div class="row">
                    <label for="inputK" class="col-sm-3 col-form-label">k</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="k" id="inputK">
                    </div>
                </div>
                <div class="row">
                    <label for="inputPrecision" class="col-sm-3 col-form-label">precision</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="precision" id="inputPrecision">
                    </div>
                </div>
                <div class="row">
                    <label for="inputDFilm" class="col-sm-3 col-form-label">d film</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="dFilm" id="inputDFilm">
                    </div>
                </div>
                <div class="row">
                    <label for="inputRSub" class="col-sm-3 col-form-label">r sub</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="rSub" id="inputRSub">
                    </div>
                </div>
                <div class="row">
                    <label for="inputTSub" class="col-sm-3 col-form-label">t sub</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="tSub" id="inputTSub">
                    </div>
                </div>
                <div class="row">
                    <label for="inputN0" class="col-sm-3 col-form-label">n0</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="n0" id="inputN0">
                    </div>
                </div>
                <div class="row">
                    <label for="inputN2" class="col-sm-3 col-form-label">n2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="n2" id="inputN2">
                    </div>
                </div>
                <div class="row">
                    <label for="inputRSub" class="col-sm-3 col-form-label">t exp</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="tExp" id="inputTExp">
                    </div>
                </div>
                <div class="row">
                    <label for="inputRSub" class="col-sm-3 col-form-label">r exp</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="rExp" id="inputRExp">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-outline-success">Надіслати</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>